In [1]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.optimize

from datetime import datetime
import pytz

import gm2
import trfp

Welcome to JupyROOT 6.12/04

In [2]:
fp_df = trfp.FixedProbeRun(3960)

Reading event 4360/4370 99.77%
loop done: 100%
Finished calculating all moments for 3640 events.

In [3]:
stm_list = ['st'+str(st)+',m2' for st in np.arange(11)+33]
fp_df.moment_df.head()[stm_list]

,"st33,m2","st34,m2","st35,m2","st36,m2","st37,m2","st38,m2","st39,m2","st40,m2","st41,m2","st42,m2","st43,m2"
1.524391e+09,2304.985942,-4072.159046,-2064.801578,106.187461,-1966.815276,1522.440469,80.124333,-1540.219402,-1000.814800,-563.918853,-657.731864
1.524391e+09,2307.308450,-4074.170254,-2068.194659,104.798108,-1965.573834,1522.800315,60.229795,-1541.329591,-1002.692337,-564.502341,-659.072522
1.524391e+09,2307.087579,-4074.256304,-2065.518936,105.750167,-1971.470694,1523.693706,74.613352,-1540.578841,-996.579639,-565.481328,-652.332836
1.524391e+09,2305.562235,-4072.932211,-2062.712450,106.442638,-1969.842880,1521.076526,78.601615,-1542.347263,-995.221624,-565.271407,-646.063495
1.524391e+09,2306.410030,-4072.365300,-2068.269565,105.941213,-1966.873208,1519.963146,79.342538,-1542.485996,-999.022177,-564.892105,-648.802710

In [4]:
corrected_df_1 = pd.read_hdf('60hr_trolley_runs_1.h5', key='run_3956_corrected_df')
tr_baseline_1, fp_baseline_1, baseline_time_1, summed_azimuth_1, _ = trfp.trolley_run_station_average(corrected_df_1)

In [6]:
print fp_baseline_1[[37,39,41],2]

[-2126.60461964  -661.1961334   -987.9403624 ]