In [1]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import numpy as np
import pandas as pd
import scipy.optimize

from datetime import datetime
import pytz

import gm2
import trfp

Welcome to JupyROOT 6.12/04

In [3]:
tr3956_df = pd.read_hdf('60hr_trolley_runs_1.h5', key='run_3956_moment_df')

In [5]:
df_1 = tr3956_df.copy()
df_2 = tr3956_df.copy()
df_3 = tr3956_df.copy()

df_1['tr_phi'] -= 360
df_3['tr_phi'] += 360

output_df = df_1.append(df_2).append(df_3)

In [11]:
new_phis = np.arange(0,360,0.1)

new_df = pd.DataFrame(index = new_phis)

trms = ['tr,m'+str(m+1) for m in range(7)]
for trm in trms:
    interp_function = scipy.interpolate.interp1d(output_df['tr_phi'], output_df[trm])
    new_df[trm] = interp_function(new_phis)

In [12]:
new_df.head()

,"tr,m1","tr,m2","tr,m3","tr,m4","tr,m5","tr,m6","tr,m7"
0.0,50720.060257,61.175660,73.236499,999.571895,-13.752354,45.788665,49.393730
0.1,50745.095472,60.559073,94.708960,1013.840791,2.547450,21.725597,37.697607
0.2,50743.444879,39.475124,72.224770,998.820849,40.661640,49.045939,32.460493
0.3,50729.388631,4.999063,21.454362,980.893253,82.105298,114.310388,41.854717
0.4,50717.342999,-13.424352,-6.951078,956.200632,103.534949,126.905537,52.440076

In [43]:
fft_df = pd.DataFrame(index=range(new_phis.size))

temp = np.fft.fft(new_df['tr,m1'])/new_phis.size
fft_df['dipole_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['dipole_amp'].loc[0] += 1.45
fft_df['dipole_angle'] = np.rad2deg(np.angle(temp))

temp = np.fft.fft(new_df['tr,m2'])/new_phis.size
fft_df['nq_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['nq_angle'] = np.rad2deg(np.angle(temp))
temp = np.fft.fft(new_df['tr,m3'])/new_phis.size
fft_df['sq_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['sq_angle'] = np.rad2deg(np.angle(temp))

temp = np.fft.fft(new_df['tr,m5'])/new_phis.size
fft_df['ns_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['ns_angle'] = np.rad2deg(np.angle(temp))
temp = np.fft.fft(new_df['tr,m4'])/new_phis.size
fft_df['ss_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['ss_angle'] = np.rad2deg(np.angle(temp))

temp = np.fft.fft(new_df['tr,m6'])/new_phis.size
fft_df['no_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['no_angle'] = np.rad2deg(np.angle(temp))
temp = np.fft.fft(new_df['tr,m7'])/new_phis.size
fft_df['so_amp'] = np.abs(temp)/61.79e6*1.45
fft_df['so_angle'] = np.rad2deg(np.angle(temp))



fft_df.to_csv('higher_order_azi_dependence', index_label='fft_term', float_format='%0.4e')

In [38]:
np.mean(new_df['tr,m7'])

17.486827017925936